.mainContact {
    height: calc(100vh - 199px);
    position: relative;
    width: 100%;
    .coordAndDispo {
        position: absolute;
        z-index: 1;
        color: white;
        top: 5px;
        left: 30px;
    }
}

@media screen and (max-width: 600px) {
    .mainContact {
        height: 100%;
        .coordAndDispo {
            font-size: 13px;
            top: 0;
            left: 0;
            padding-left: 15px;
        }
    }
}