footer {
    font-family: 'Great Vibes', cursive;
    border-top: 1px solid #b4b49e;
    padding: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    p {
        position: relative;
        left: 12%;
        font-size: 34px;
        color: #b4b49e;
        text-align: center;
        padding-right: 20px;
    }
    div {
        position: absolute;
        display: flex;
        column-gap: 15px;
        top: 19px;
        right: 40px;
        img {
            height: 42.5px;
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        p {
            font-size: 27px;
        }
        div {
            right: 25px;
            img {
                height: 35px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    footer {
        flex-direction: column;
        p {
            max-width: 145px;
            font-size: 18px;
            line-height: 25px;
            left: 20px;
        }
        div {
            flex-direction: column;
            top: -41px;
            right: 11px;
            column-gap: 5px;
        }
    }
}